<!DOCTYPE html>
<html>
<head>
    <title>Alberto Airlines</title>
    <style>
        /* Stili per l'header */
        header {
            background-color: #003399;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        h1 {
            margin: 0;
            font-size: 32px;
        }

        p {
            margin: 10px 0;
            font-size: 18px;
        }
    </style>
</head>
<body>
    <header>
        <h1>ALBERTO AIRLINES</h1>
        <p>Voliamo insieme!</p>
    </header>
</body>
</html>
