<!DOCTYPE html>
<html>
<head>
    <title>Mappa</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <style>
        #map { height: 400px; }
    </style>
</head>
<body>
    <div id="map"></div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>

        var settings = {
            "url": "http://127.0.0.1:8000/fleet_flights/made_flights/",
            "method": "GET",
            "timeout": 0,
          };
          
          $.ajax(settings).then(function (response) {

            var lines = [];

            var map = L.map('map').setView([41, 8], 4);            
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            response.flights.forEach(function(flight) {
                console.log(flight);
            
                var partenza = flight.fields._from_coordinate; // Coordinate di partenza
                partenza = partenza.replace("(", "[");
                partenza = partenza.replace(")", "]");
                partenza = JSON.parse(partenza);
            
                var arrivo = flight.fields._to_coordinate; // Coordinate di arrivo
                arrivo = arrivo.replace("(", "[");
                arrivo = arrivo.replace(")", "]");
                arrivo = JSON.parse(arrivo);
            
            
                // Crea i marker sulla mappa
                L.marker(partenza).addTo(map).bindPopup(flight.fields._from);
                L.marker(arrivo).addTo(map).bindPopup(flight.fields.to);
            
                // Crea la linea dalla partenza all'arrivo
                // Genera un numero casuale compreso tra 0 e 255 per i valori RGB
                const red = Math.floor(Math.random() * 256);
                const green = Math.floor(Math.random() * 256);
                const blue = Math.floor(Math.random() * 256);
                // Crea la stringa CSS per il colore RGB generato
                const randomColor = `rgb(${red}, ${green}, ${blue})`;
                var line = L.polyline([partenza, arrivo], { color: randomColor }).addTo(map);
                console.log("PRIMO")

            });
            


          }, function (error) {
            console.error('Si è verificato un errore durante la richiesta:', error);
          });



    </script>
</body>
</html>
