<!DOCTYPE html>
<html>
<head>
    <title>Mappa</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <style>
        #map { height: 400px; }
    </style>
</head>
<body>
    <div id="map"></div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>

        var settings = {
            "url": "http://127.0.0.1:8000/fleet_flights/made_flights/",
            "method": "GET",
            "timeout": 0,
          };
          
          $.ajax(settings).then(function (response) {

            response.flights.forEach(function(flight) {
                console.log(flight);

                var partenza = flight.fields._from_coordinate; // Coordinate di Barcellona
                partenza = partenza.replace("(", "[");
                partenza = partenza.replace(")", "]");
                partenza = JSON.parse(partenza);
                console.log("FATTO partenza")

                var arrivo = flight.fields._to_coordinate; // Coordinate di Napoli
                arrivo = arrivo.replace("(", "[");
                arrivo = arrivo.replace(")", "]");
                arrivo = JSON.parse(arrivo);
                console.log("FATTO ARRIVO")

                var map = L.map('map').setView([41, 8], 4);

                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map);

                //crea i markers sulla mappa
                L.marker(partenza).addTo(map).bindPopup(flight.fields._from);
                L.marker(arrivo).addTo(map).bindPopup(flight.fields.to);

                //crea la linea da barcellona a napoli
                var line = L.polyline([partenza, arrivo], {color: 'red'}).addTo(map);


        

        
            
              });              


          }, function (error) {
            console.error('Si è verificato un errore durante la richiesta:', error);
          });



    </script>
</body>
</html>
